<div class="big-wrapper">
  <button
    class="add"
    [attr.disabled]="btnClick ? '' : null"
    (click)="btnClick = !btnClick;clearForm()">
    Добавить
  </button>
  <div class="wrapper">
    <div
      [ngClass]="{
        half: btnClick,
        full: !btnClick
      }"
      class="mini-wrapper"
    >
      <div *ngIf="this.pets.length === 0">
        <p>НЕТ ПИТОМЦЕВ :(</p>
      </div>
      <table *ngIf="this.pets.length > 0">
        <tr>
          <th>id</th>
          <th>Кличка</th>
          <th>Пол</th>
          <th>Вид</th>
          <th>Цвет</th>
          <th>Вакцинация</th>
          <th>Действия</th>
        </tr>
        <tr *ngFor="let pet of pets">
          <td>{{ pet.id }}</td>
          <td>{{ pet.name }}</td>
          <td>{{ pet.gender }}</td>
          <td>{{ pet.type }}</td>
          <td>{{ pet.color }}</td>
          <td
            [ngClass]="{
              green: pet.vaccination,
              red: !pet.vaccination
            }"
          >
            {{ pet.vaccination ? "есть" : "нет" }}
          </td>
          <td>
            <div class="actions">
              <span (click)="deletePetConfirm(pet.id)">Удалить</span>
              <span class="edit"
                (click)="editPet(pet.id);btnClick = !btnClick"
                >Редактировать</span>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div
      [ngClass]="{
        show: btnClick,
        hidden: !btnClick
      }"
      class="mini-wrapper">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <h1>{{selectedPet?.id ? 'Редактировать' : 'Новый питомец'}}</h1>
        <label>
          Кличка
          <br />
          <input type="text" formControlName="name" />
        </label>
        <br />
        <label>
          Пол
          <br />
          <select formControlName="gender">
            <option *ngFor="let state of genders" [ngValue]="state">
              {{ state }}
            </option>
          </select>
        </label>
        <br />
        <label>
          Вид
          <br />
          <select formControlName="type">
            <option *ngFor="let type of types" [ngValue]="type">
              {{ type }}
            </option>
          </select>
        </label>
        <br />
        <label>
          Цвет
          <br />
          <input type="text" [value]="pet.color" formControlName="color" />
        </label>
        <br />
        <label class="check">
          <input type="checkbox" formControlName="vaccination" />
          Привит
        </label>
        <br />
        <button
          class="pets__button pets__button--form"
          (click)="save(selectedPet?.id); btnClick = !btnClick"
          [disabled]="profileForm.invalid"
          type="submit">
          {{selectedPet?.id ? 'Изменить' : 'Создать'}}
        </button>
        <div *ngIf="name.invalid && name.touched">
          <span *ngIf="name.errors['required']"> Обязательное поле </span>
          <span *ngIf="name.errors['minlength']">
            Минимально допустимое количество символов 3
          </span>
        </div>
      </form>
    </div>
  </div>


  <app-menu (dataP)="success($event)" ></app-menu>
</div>
