.big-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding: 0 5%;
}

.wrapper {
  display: flex;
  width: 100%;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.add {
  margin: 20px 0;
  width: fit-content;
  padding: 10px 15px;
  background-color: white;
  border: 2px solid #de2e31;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.mini-wrapper {
  display: flex;
  width: 50%;
  justify-content: center;
  transition: 0.5s;
}

.mini-wrapper--form{
  animation: show 1.5s 1;
}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.add:hover {
  cursor: pointer;
  opacity: 0.7;
}

.add:disabled {
  border: 2px solid gray;
  opacity: 0.3;
}

.add:active,
.add:focus {
  outline: none;
  border: 2px solid #de2e31;
}

th {
  padding: 10px;
  font-size: 20px;
  border-right: 1px solid lightslategray;
  border-bottom: lightslategray 1px solid;
}

th:last-child {
  border: none;
  border-bottom: lightslategray 1px solid;
}


td {
  padding: 10px;
  color: #4e4e4e;
}

h1 {
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #d67071;
}

.edit {
  color: #7b7979;
}

.actions span {
  padding: 2px 5px;
}

.actions span:hover {
  cursor: pointer;
  opacity: 0.4;
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

