<div class="big-wrapper">
  <button
    class="add"
    [attr.disabled]="btnClick ? '' : null"
    (click)="btnClick = !btnClick;clearForm()">
    Добавить
  </button>
  <div class="wrapper">
    <div
      [ngClass]="{
        half: btnClick,
        full: !btnClick
      }"
      class="mini-wrapper"
    >
      <div *ngIf="this.pets.length === 0">
        <p>НЕТ ПИТОМЦЕВ :(</p>
      </div>
      <table *ngIf="this.pets.length > 0">
        <tr>
          <th>id</th>
          <th>Кличка</th>
          <th>Пол</th>
          <th>Вид</th>
          <th>Цвет</th>
          <th>Вакцинация</th>
          <th>Действия</th>
        </tr>
        <tr *ngFor="let pet of pets">
          <td>{{ pet.id }}</td>
          <td>{{ pet.name }}</td>
          <td>{{ pet.gender }}</td>
          <td>{{ pet.type }}</td>
          <td>{{ pet.color }}</td>
          <td
            [ngClass]="{
              green: pet.vaccination,
              red: !pet.vaccination
            }"
          >
            {{ pet.vaccination ? "есть" : "нет" }}
          </td>
          <td>
            <div class="actions">
              <span (click)="deletePetConfirm(pet.id)">Удалить</span>
              <span class="edit"
                (click)="editPet(pet.id);btnClick = !btnClick"
                >Редактировать</span>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div
      [ngClass]="{
        show: btnClick,
        hidden: !btnClick
      }"
      class="mini-wrapper mini-wrapper--form">
      <app-form style="width: 60%" (clickMe)="newBtn($event)" [idd]="pet.id"></app-form>
    </div>
  </div>

</div>
