.modal__button {
  margin-right: 15px;
  font-size: 12px;
  text-align: center;
  color: #de2e31;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  width: 100px;
  padding: 10px 15px;
  background-color: white;
  border: 2px solid #de2e31;
}

.modal__button:last-of-type {
   margin-right: 0;
 }

.modal__button:focus,
.modal__button:hover {
   outline: none;
   color: white;
   background: #de2e31;
 }

